@import '../fonts/Ubuntu/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.slick-slide:active {
  outline: none;
}

.slick-slide:focus {
  outline: none;
}

#top {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;
}

#top img {
  font-size: 35px;
  padding: 15px;
  border-radius: 5px;
  color: #535353;
  opacity: 0.5;
  width: 70px;
  height: 70px;
  background: none;
}

#top img:hover {
  opacity: 1;
  -webkit-filter: contrast(80%) brightness(70%);
  filter: contrast(80%) brightness(70%);
  border-radius: 5px;
}

.active {
  display: block !important;
}

.headerNav {
  padding: 12px 0;
  background: #ffffff;
}

.headerNav-bottom {
  margin-top: 25px;
}

.header-nav-content {
  background: #232323;
  padding: 15px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav-content__item a {
  color: #ffffff;
}

.header-nav-content__item-greenbg {
  z-index: 2;
}

.header-nav-content__item-greenbg a {
  padding: 20px 50px;
  -webkit-box-shadow: 0px 3px 5px 1px #666e79;
  box-shadow: 0px 3px 5px 1px #666e79;
  background: -webkit-gradient(linear, left top, right top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(left, #AF8858, #ECC778);
  background: linear-gradient(to right, #AF8858, #ECC778);
  border-radius: 5px;
}

.header-nav-content__item-button a {
  padding: 5px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(left, #AF8858, #ECC778);
  background: linear-gradient(to right, #AF8858, #ECC778);
  border-radius: 5px;
  font-size: 14px !important;
}

.header .headerNav-item {
  background: #c4daa1;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #2c2c2c;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.6;
}

.header .headerNav-item span {
  line-height: 1.6;
}

.header-alignCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-alignMiddle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-alignMiddle p {
  font-weight: bold;
  font-size: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header-nav-content__item a {
  font-size: 20px;
}

.header-number__icon {
  padding-right: 2px;
  font-size: 34px;
}

.header-number__item {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 6px 16px;
  border-radius: 0 28px 28px 0;
  background: #232323;
}

.header-adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background: #edf4e3;
}

.header-adventages__item-top {
  margin-right: 15px;
}

.header-adventages__item-top .fa {
  font-size: 40px;
}

.header-adventages__item-top .gray {
  color: #8d9ea4;
}

.header-adventages__item-top .red {
  color: red;
}

.header-adventages__item-top .orange {
  color: orange;
}

.header-adventages__item-top .green {
  color: green;
}

.header-adventages__item-bottom .title {
  font-size: 18px;
  margin-bottom: 10px;
}

.header .withoutPadding {
  padding-left: 0;
  padding-right: 0;
}

.header .withoutPaddingRight {
  padding-left: 15px;
}

.header .withoutPaddingLeft {
  padding-right: 15px;
}

.first-left {
  text-align: center;
}

.first-left img {
  width: 100%;
}

.first-right__additional {
  display: none;
}

.first-right__additional .second-main__one-content__bottom {
  color: #666e79;
}

.first-right__additional .second-main__one-content__bottom span {
  color: #666e79;
}

.first .container {
  background: #ffffff;
  padding: 50px 0;
}

.first h1 {
  font-size: 35px;
  color: #666e79;
  margin-bottom: 20px;
  font-weight: bold;
}

.first-description {
  color: #666e79;
  font-size: 20px;
  margin-bottom: 60px;
  line-height: 1.3;
}

.first-order {
  padding: 9px 25px 10px;
  background: -webkit-gradient(linear, left top, right top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(left, #AF8858, #ECC778);
  background: linear-gradient(to right, #AF8858, #ECC778);
  border-radius: 5px;
  margin-right: 25px;
  font-size: 18px;
}

.first-call {
  color: #666e79;
  font-size: 18px;
}

.second {
  padding: 10px 0 50px;
}

.second-left__title {
  font-size: 2rem;
  color: #232323;
  margin-bottom: 25px;
}

.second-left__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #8d9ea4;
  margin: 0px 0 1px;
}

.second-left__one img {
  max-width: 40%;
}

.second-left__one-container {
  padding: 20px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.second-left__one-container__top {
  font-size: 100%;
  color: #ffffff;
}

.second-left__one-container__bottom {
  font-size: 0.6rem;
  color: #ffffff;
}

.second-left__two {
  background: orangered;
}

.second-left__three {
  background: #4a4aa0;
}

.second-left__four {
  background: green;
}

.second-main__title {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.second-main__one-content__top {
  color: #666e79;
  margin-bottom: 10px;
  line-height: 20px;
}

.second-main__one-content__bottom {
  color: #666e79;
  line-height: 25px;
  margin-bottom: 8px;
}

.second-main__one-content__bottom .number {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.second-main__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.second-main__two img {
  max-width: 100%;
}

.second-form {
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(left, #AF8858, #ECC778);
  background: linear-gradient(to right, #AF8858, #ECC778);
  border-radius: 4px;
}

.second-form__title {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 17px;
}

.second-form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.second-form__items label {
  margin-bottom: 10px;
}

.second-form__items input {
  width: 95%;
  height: 35px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  padding-left: 27px;
}

.second-form__items input::-webkit-input-placeholder {
  font-size: 15px;
  color: #232323;
}

.second-form__items input::-moz-placeholder {
  font-size: 15px;
  color: #232323;
}

.second-form__items input:-ms-input-placeholder {
  font-size: 15px;
  color: #232323;
}

.second-form__items input::-ms-input-placeholder {
  font-size: 15px;
  color: #232323;
}

.second-form__items input::placeholder {
  font-size: 15px;
  color: #232323;
}

.second-form__items input:focus {
  outline: none;
}

.second-form__items input[type="submit"] {
  width: 100%;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background: #232323;
  color: #ffffff;
}

.second-form__yourName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%;
}

.second-form__number {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.second-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.second-form .discount {
  color: #ffffff;
  margin-bottom: 5px;
}

.third {
  display: block;
}

.third-left__title {
  font-size: 25px;
}

.third-left .article-slider__item {
  padding: 0 20px;
}

.third-left .article-slider__item .feedback {
  margin-bottom: 15px;
}

.third-left .article-slider__item .feedback p {
  line-height: 1.5;
}

.third-left .article-slider__item .feedback p img {
  float: left;
  padding: 0 15px 0 0;
}

.third-left .article-slider__item .author {
  display: block;
  text-align: right;
  margin-right: 10px;
}

.third-left .article-slider__item .authorName {
  display: block;
  color: #7fba24;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.third-left .article-slider__item .authorCity {
  display: block;
}

.third-left .article-slider .left-slider__prev,
.third-left .article-slider .left-slider__next {
  border: none;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  z-index: 99;
}

.third-left .article-slider .left-slider__prev:hover,
.third-left .article-slider .left-slider__next:hover {
  background: #232323;
}

.third-left .article-slider .left-slider__prev:active,
.third-left .article-slider .left-slider__next:active,
.third-left .article-slider .left-slider__prev:focus,
.third-left .article-slider .left-slider__next:focus {
  outline: none;
}

.third-left .article-slider .left-slider__prev {
  right: 80px;
}

.third-left .article-slider .left-slider__next {
  right: 30px;
}

.third-left .article-slider .slick-slide:focus {
  outline: none;
}

.third .one {
  margin-bottom: 30px;
}

.third-main__top {
  margin-bottom: 30px;
}

.third-main__top-slider {
  background: #f9f9f9;
  padding: 10px;
}

.third-main__top-slider .slider-item img {
  margin: 0 auto;
}

.third-main__top-slider .main-slider__prev,
.third-main__top-slider .main-slider__next {
  border: none;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
}

.third-main__top-slider .main-slider__prev:hover,
.third-main__top-slider .main-slider__next:hover {
  background: #232323;
}

.third-main__top-slider .main-slider__prev:active,
.third-main__top-slider .main-slider__next:active,
.third-main__top-slider .main-slider__prev:focus,
.third-main__top-slider .main-slider__next:focus {
  outline: none;
}

.third-main__top-slider .main-slider__prev {
  left: 12px;
}

.third-main__top-slider .main-slider__next {
  right: -18px;
}

.third-main__bottom {
  padding: 30px 0;
}

.third-main__bottom-table {
  border: 1px solid #ddd;
}

.third-main__bottom-tableItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.third-main__bottom-tableItem {
  border: 1px solid #ddd;
  width: 60%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
}

.third-main__bottom-tableItemRight {
  width: 40%;
}

.third-main__bottom-table .greenbg {
  background: -webkit-gradient(linear, left top, right top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(left, #AF8858, #ECC778);
  background: linear-gradient(to right, #AF8858, #ECC778);
  color: #ffffff;
}

.third-main__bottom-table .graybg {
  background: #f9f9f9;
}

.third-main__bottom .note {
  padding: 10px 20px;
  background: #f2f2f2;
  color: #666e79;
  margin-bottom: 25px;
}

.third-main__bottom .note p {
  line-height: 1.5;
}

.third-main__bottom .note p a {
  color: #7fba24;
  border-bottom: 1px solid #7fba24;
}

.third .registration-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.third .registration__items {
  list-style: disc;
  padding-bottom: 25px;
}

.third .registration__items li {
  line-height: 1.5;
}

.third .registration__items li a {
  color: #7fba24;
}

.footer {
  background: #000;
  padding: 80px 0 40px;
}

.footer-logo {
  margin-bottom: 50px;
}

.footer-logo__item {
  margin-bottom: 20px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-nav ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-contact__number {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-contact__number p {
  font-size: 25px;
}

.footer-contact__number .fa {
  margin-right: 5px;
  font-size: 20px;
}

.footer-contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 27px;
}

.footer-contact__social .fa {
  margin-right: 20px;
  font-size: 20px;
}

.footer p {
  color: #ffffff;
}

.footer i {
  color: #ffffff;
}

.footer-mini__items {
  display: none;
}

.footer-mini__items h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 30px;
}

.footer-mini__items p {
  margin-bottom: 20px;
}

.footer-mini__items .footer-contact__social-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.footer-mini__items .footer-contact__social-add .fa {
  margin: 0;
}

.form {
  display: none;
  cursor: pointer;
}

.form a {
  color: #232323;
}

.form .popupForm {
  position: fixed;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  background: #ffffff;
  max-width: 320px;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 0px 16px -4px #666e79;
  box-shadow: 0px 0px 16px -4px #666e79;
  border-radius: 6px;
  color: #666e79;
  z-index: 999;
}

.form .second-form__items {
  margin-top: 15px;
}

.form .second-form__items input {
  margin-bottom: 20px;
}

.form .second-form input {
  border: 1px solid #ECC778;
  width: 100%;
}

.form .second-form__title {
  color: #000;
  width: 100%;
}

.form .second-form__number {
  color: #000;
  width: 100%;
}

.form .second-form__yourName {
  color: #000;
  width: 100%;
}

.form .second-form__submit {
  width: 100%;
}

.form input[type="submit"] {
  background: -webkit-gradient(linear, left bottom, left top, from(#AF8858), to(#ECC778));
  background: -o-linear-gradient(bottom, #AF8858, #ECC778);
  background: linear-gradient(to top, #AF8858, #ECC778);
  border: 1px solid #ECC778;
}

.form input::-webkit-input-placeholder {
  color: #666e79;
}

.form input::-moz-placeholder {
  color: #666e79;
}

.form input:-ms-input-placeholder {
  color: #666e79;
}

.form input::-ms-input-placeholder {
  color: #666e79;
}

.form input::placeholder,
.form label {
  color: #666e79;
}

.form .closeForm {
  position: absolute;
  top: -12px;
  right: -12px;
  border-radius: 50%;
  background: #AF8858;
  padding: 8px 10px;
  color: #ffffff;
}

.form .closeForm :hover {
  background: #7fba24;
  color: orange;
}

.form .onebg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(150, 150, 150, 0.3);
}

.wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 199;
}

.btn-phone-wrap {
  position: relative;
}

.call:hover .btn-phone {
  background-image: none;
  /* background-position: top center; */
  background-position-y: top;
}

.fa-phone,
.ring {
  display: none;
}

.fa-phone {
  width: 38px;
  margin-bottom: 0px;
}

.ring {
  font-size: 9px;
  text-transform: uppercase;
}

.text-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.call:hover .fa-phone,
.call:hover p {
  display: block;
}

.call:hover .btn-phone-circle {
  display: none;
}

.btn-phone {
  /* background: #000; */
  background: #f49700 url(../img/phone.png) center center no-repeat;
  background-size: 75%;
  height: 75px;
  width: 75px;
  border-radius: 75px;
  -webkit-animation: phone-rotate1 2s infinite ease-out;
  animation: phone-rotate1 2s infinite ease-out;
}

.btn-phone-wrap-un {
  display: none;
  position: relative;
  background: #e7563cf0;
  background-size: 30%;
  border-radius: 43px 0 0 0;
  height: 75px;
  width: 75px;
}

.btn-phone-un {
  background: #e7563c00 url(../img/phone.png) center center no-repeat;
  background-size: 50%;
  height: 75px;
  width: 75px;
  border-radius: 43px 0 0 0;
  -webkit-animation: phone-rotate1 2s infinite ease-out;
  animation: phone-rotate1 2s infinite ease-out;
}

.btn-phone-circle1 {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid rgba(255, 42, 0, 0.5);
  border-radius: 75px;
  -webkit-animation: btn-phone-circle 3s infinite ease-out;
  animation: btn-phone-circle 3s infinite ease-out;
}

.btn-phone-circle2 {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid rgba(242, 40, 0, 0.5);
  border-radius: 75px;
  -webkit-animation: btn-phone-circle 4s infinite ease-out;
  animation: btn-phone-circle 4s infinite ease-out;
}

.btn-phone-circle3 {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  border: 6px solid rgba(61, 40, 36, 0.3);
  border-radius: 75px;
  -webkit-animation: btn-phone-circle 1s infinite ease-out;
  animation: btn-phone-circle 1s infinite ease-out;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.btn-phone-circle4 {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  border: 6px solid rgba(61, 40, 36, 0.3);
  border-radius: 75px;
  -webkit-animation: btn-phone-circle 2s infinite ease-out;
  animation: btn-phone-circle 2s infinite ease-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.btn-phone-circle5 {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  border: 6px solid rgba(61, 40, 36, 0.4);
  border-radius: 75px;
  -webkit-animation: btn-phone-circle 3s infinite ease-out;
  animation: btn-phone-circle 3s infinite ease-out;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes btn-phone-circle {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    opacity: 0.05;
  }
}

@keyframes btn-phone-circle {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.2;
  }

  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    opacity: 0.05;
  }
}

@-webkit-keyframes phone-rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  2% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  4% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  6% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  8% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  12% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  14% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  16% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  18% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  22% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  24% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  26% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  28% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  32% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  34% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  35% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  36% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  38% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  42% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  44% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  46% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  48% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  55% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes phone-rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  2% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  4% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  6% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  8% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  12% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  14% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  16% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  18% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  22% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  24% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  26% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  28% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  32% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  34% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  35% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  36% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  38% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  42% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  44% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  46% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  48% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  55% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media (max-width: 1200px) {
  .header .withoutPadding {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header .withPadding_one,
  .header .withPadding_three {
    padding-right: 0px;
    padding-left: 15px;
  }

  .header .withPadding_two,
  .header .withPadding_four {
    padding-right: 15px;
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .first-left {
    margin-bottom: 50px;
  }

  .first-right__items {
    padding: 0 20px;
  }

  .first .container {
    padding: 0 0 50px;
  }

  .second-main__two img {
    display: none;
  }

  .second-form__items input {
    margin-bottom: 20px;
  }

  .second-form__yourName {
    width: 33%;
  }

  .second-form__number {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .registration-title,
  .second-form__title,
  .second-left__title,
  .third-left__title,
  h1 {
    font-size: 25px !important;
    text-align: center;
  }

  #top {
    display: none !important;
  }

  .headerNav-bottom {
    display: none;
  }

  .header .headerNav-item {
    font-size: 15px;
  }

  .header-alignCenter {
    margin-bottom: 0px;
  }

  .header-alignMiddle {
    display: none;
  }

  .header-number__icon {
    display: none;
  }

  .header-number__item {
    font-size: 15px;
    border-radius: 28px;
  }

  .header .withoutPadding {
    display: none;
  }

  .first-right__items {
    padding-left: 15px;
  }

  .first-right__item {
    display: none;
  }

  .first-right__additional {
    display: block;
    padding-left: 15px;
    color: #666e79;
  }

  .first-description {
    font-size: 15px;
    margin-bottom: 30px;
    padding-left: 15px;
  }

  .second {
    padding: 10px 0;
  }

  .second-left {
    display: none;
  }

  .second-form__yourName {
    width: 95%;
  }

  .second-form__number {
    width: 95%;
  }

  .second-main__title,
  .second-main__one,
  .second-main__two {
    display: none;
  }

  .third-left {
    display: none;
  }

  .wrap {
    right: 0;
    bottom: 0;
  }

  .btn-phone {
    display: none;
  }

  .btn-phone-wrap-un {
    display: block;
  }

  .btn-phone-circle1 {
    border-radius: 43px 0 0 0;
  }

  .btn-phone-circle2 {
    border-radius: 43px 0 0 0;
  }

  .btn-phone-circle3 {
    border-radius: 43px 0 0 0;
  }

  .btn-phone-circle4 {
    border-radius: 43px 0 0 0;
  }

  .btn-phone-circle5 {
    border-radius: 43px 0 0 0;
  }
}

@media (max-width: 576px) {
  .registration-title,
  .second-form__title,
  .second-left__title,
  .third-left__title,
  h1 {
    font-size: 20px !important;
    text-align: center;
  }

  .header .headerNav-item {
    display: none;
  }

  .header-number__item {
    font-size: 10px;
  }

  .second-form {
    font-size: 12px;
  }

  .second-form__items label {
    margin-bottom: 5px;
  }

  .second-form__items input {
    margin-bottom: 10px;
  }

  .second-form__items input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .second-form__items input::-moz-placeholder {
    font-size: 12px;
  }

  .second-form__items input:-ms-input-placeholder {
    font-size: 12px;
  }

  .second-form__items input::-ms-input-placeholder {
    font-size: 12px;
  }

  .second-form__items input::placeholder {
    font-size: 12px;
  }

  .second-form__items input[type="submit"] {
    font-size: 12px;
  }

  .third-main__bottom-tableItem {
    height: 35px;
    padding-left: 7px;
    font-size: 12px;
  }

  .third-main__bottom .note p {
    font-size: 12px;
  }

  .third .registration__items li {
    font-size: 12px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer .container {
    display: none;
  }

  .footer-mini__items {
    display: block;
    text-align: center;
  }
}